    @charset "UTF-8";
    body{
            background-color: aqua;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
        }
        h1{
            color: blueviolet;
            background-color: chartreuse;
        }
        h2{
            color: blue;
        }
        p{
            text-align: justify;
        }
 